
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.getTittle()}"></title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/demo01.css">
    <script src="/js/demo01.js"></script>
    <script src="/js/moment.js"></script>


</head>
<body>
<div th:replace="~{navigation.html :: header}"></div>
<div class="container-fluid main ">
    <div class="row ">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >

<!--     问题内容       -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <h4 class="question-tittle"> <span th:text="${question.getTittle()}"></span></h4>
                <span class="text-decs">
                作者：<span th:text="${question.user.getName()}"></span>|
                发布时间：<spqn th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></spqn>|
                阅读数:<span th:text="${question.getViewCount()}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.getDescription()}"></div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!--标签-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                    <span class="label label-info question-tag" th:each="tag:${question.getTag().split('[|]')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info " th:if="${tag != ''}" th:text="${tag}"></span>
                    </span>


                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <a th:href="@{'/publish/'+${question.id}}" class="demo01-menu" th:if="${session.user != null && session.user.id == question.getCreator()}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>


<!--     评论内容       -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                 </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0px;" >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment:${comments}">
                    <div class="media" >
                        <div class="media-left">
                        <a href="#">
                            <img th:src="${comment.user.avatarUrl}" class="media-object img-rounded " style="height: 38px;width: 38px" >
                        </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                        <h6 class="media-heading" style="padding-top: 10px;">
                            <sapn  th:text="${comment.user.name}"></sapn>
                        </h6>
                        <div th:text="${comment.content}"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span th:data-id="${comment.id}" onclick="collapseComments(this)" class="comment-icon">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span th:text="${comment.commentCount}"></span>
                            </span>

                            <span class="float-right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse comments-two "
                                 th:id="${'comment-'+comment.id}">



                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <input type="text" class="form-control" placeholder="评论一下" th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-default float-right">取消</button>
                                    <button type="button" class="btn btn-success float-right" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--     回复框       -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <h4>
                    提交回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0px;">
                <sapn th:if="${session.user == null} " >游客</sapn>
                <div id="comment_section" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="media mar1" th:if="${session.user != null} ">
                        <div class="media-left">
                            <a href="#">
                                <img th:src="${session.user.avatarUrl}" class="media-object img-rounded " style="height: 38px;width: 38px" >
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading" style="padding-top: 10px;">
                                <sapn th:href="@{'/question/'+${question.id}}" th:text="${session.user.name}"></sapn>
                            </h6>
                        </div>
                        <input type="hidden" id="question_id" th:value="${question.id}">
                    </div>
                </div>

                <textarea class="form-control comment-top" rows="12" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn-edit-submit" onclick="post_comment()">回复</button>

            </div>

        </div>
<!--    发起人     -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 " >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h3>发起人</h3><br>
                <div class="media" >
                    <div class="media-left">
                        <a href="#">
                            <img th:src="${question.user.avatarUrl}" class="media-object img-circle " style="height: 38px;width: 38px" sty>
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading" >
                            <sapn th:href="@{'/question/'+${question.id}}" th:text="${question.user.name}"></sapn>
                        </h6>
                    </div>
                </div>
            </div>
<!--            推荐-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h4>相关推荐</h4>
                <img src="/img/FindOne.png" class="img-thumbnail imgtt">
            </div>
<!--            相关-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h4>相关问题</h4>
                <ul class="question-relate">
                    <li th:each="related:${relatedQuestion}">
                        <a th:href="@{'/question/'+${related.id}}" th:text="${related.getTittle()}">

                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</body>
</html>

